/* 
==============================================
CONTENT:	Foundation Site/ Final WEBDEV3
AUTHOR:		Lizz Lanius
==============================================

TABLE OF CONTENTS:

1. Nav
2. Hero/Homepage
3. Storie Page

==============================================
*/


$font-stack: 'Poppins', sans-serif;
$color:#E90081;

h2{
	font-family:$font-stack;
}

a{
	font-family:$font-stack;
	text-decoration:none;
}

p{
	line-height:1.4;
	font-family: 'Open Sans', sans-serif;
}


// @media screen and (min-width:0px);{



/* 1 NAV ================================= */



.navcontainer{
	display:flex;
    justify-content: space-between;
    background-color:$color;
    background-image: url(../img/pplogo.png);
    background-repeat:no-repeat;
    background-size: 50px;
    background-position:97%;
    padding:10px;


	ul{
	margin:20px 0 20px;
	margin-right:40px;

	}

	a{
		text-decoration:none;
		padding:20px;
		font-family:$font-stack;
		margin-top:30px;
		color:white;

		&:hover{
			color:#000;
			transition: 0.2s;
			
		}
	}


}


/* 2 Hero/HomePage ================================= */

.hero{

	height:800px; 
	background-image:url(../img/headerBC.png);
	background-repeat:no-repeat;
	background-size:cover; 
	background-position:20%;
	background-attachment:fixed;

	}


.petition{
	background-color:#fff;
	height:400px;
	width:100%;
	margin:40px;
	display:flex;
	flex-wrap:wrap;


	h2{
		font-size: 5em;
		text-align:center;
		color:black;
		font-weight: bold;
		width: 100%;


	}

	p{
		font-size: 1.4em;
		color:$color;
		width: 40%;
		margin-right: 230px;
    	margin-left: 130px;

	}
}

button{
	width:25%;
	border:2px solid black;
	border-radius:inherit;
	color:black;
	height:75px;
	margin-top:20px;

	a{
		color:$color;
		font-size: 2em;
		text-align:center;
		padding-top:2px;
		text-decoration:none;
	}
}


.trump{
	background-image:url(../img/trumpapp.jpg);
	background-size:cover;
	background-position:20%;
	background-repeat: no-repeat;
	width:100%;
	background-color:$color;
	background-blend-mode:darken;
	padding: 134px 50px;

   


	h2{
    font-size: 2.3em;
    width: 55%;
    color:white;
    line-height: 45px;
    margin-bottom: 40px;
  	
	}


	
	a{
		background-color:rgba(0,0,0,0);
		height: 20px;
		width: 100px;
		padding:20px;
		padding-left: 31px;
		border: 2px solid white;
		color:white;	
		display: block;
		margin: 0 auto;

	}
	

}


.impact{
	position:relative;


	video{
		width: 100%;
		position: relative;

	}

	h2{
	  	font-size: 5em;
    	width: 80%;
	    color:white;
	    line-height: 1.2;
	    position:absolute; 
	    top:10%;
	    padding:30px;
	}
	
	p{
		color:white;
		position:absolute;
		top:40%;
		width: 50%;
		padding:40px;
		font-size: 1.5em;
	}

	a{
		position:absolute;
		background-color:rgba(0,0,0,0);
		height: 20px;
		width: 100px;
		padding:20px;
		padding-left: 31px;
		border: 2px solid $color;
		color:$color;
		top:70%;
		left:80%;
	}
}


.atrisk{
	width:100%;
	padding:50px;

	h2{
		color:black;
		font-size: 2.3em;
		width: 45%;
		margin-bottom: 20px;


		}
	p{
		color:$color;
		font-size: 1em;
		width: 25%;

	}
}

.info-container{
	display:flex;
	width:100%;
	height:350px;
	justify-content:space-around;


}


.info{
	border: 2px solid $color;
	width:20%;
	max-height:85px;
	overflow:hidden;

		&:hover{
			color:black;
			max-height: 300px;
			overflow: visible;
		}

	h2{
		color:$color;
		font-size: 1.2em;
		padding:12px;
	
	}

	p{
		color:black;
		padding:20px;
	}

}


//  @media screen and (min-width:400px) and @media screen and (min-width:600px){

// .petition{

// 	h2{
// 		font-size: 1.5em;
// 		text-align: center;
// 		margin-left:-32px;
// 	}

// 	p{
// 		font-size: 1em;
// 		width: 350px;
// 		margin:0;

// 	}

// 	button{
// 		width: 350px;
// 		margin-left:-20px;
// 	}
// }

// .trump{

// 	h2{
// 		font-size: 1.5em;
//     	width: 286px;
//     	line-height: 1.2;
// 	}
// }

// .impact{

// 	h2{
// 		font-size: 1.2em;
// 	}

// 	p{
// 		font-size: 12px;
// 		width: 250px;
// 	}

// 	a{
// 		width: 20px;
// 		font-size: 12px;
// 		height: 20px;
// 	}
// }

// .atrisk{
// 	 h2{
// 	 	width: 300px;
// 	 	font-size: 1.2em;

// 	 }

// 	 p{
// 	 	font-size: 1em;
// 	 	width: 300px;
// 	 }
// }

// .info-container{
// 	display:flex;
// 	height:600px;
	
// 	.info{
// 		width: 200px;
// 		flex-wrap:wrap;
// 		max-height: 500px;

// 	}

// }

// }



/* 3. Stories Page ================================= */


.hero2{
	
	h2{
		font-size: 2.3em;
		width: 50%;
		padding:30px;
	}

	p{
		font-size: 1.2em;
		width: 50%;
		margin-left:30px;
		margin-bottom:30px;
	}

}

//emblem of read more below or button

.hero2img{
	background-image:url(../img/ppprotest.jpg);
	height:600px;
	width:100%;
	background-size:cover;
	background-attachment:fixed;
	background-repeat:no-repeat;

}

.stories{
	display:flex;
	flex-wrap:wrap;
	flex-direction:column;

	.julie{
	padding:20px;

	}

	h2{
		font-size: 2em;
		width: 34%;
		height: 100px;
		padding:20px;

	}

	p{
		width: 34%;
		display: inline-block;
	}
}



//  // } //end desktop version

