/* 
==============================================
CONTENT:	Project Name Here
AUTHOR:		Your Name Here
==============================================

TABLE OF CONTENTS:

1. Main Layout
2. Content

==============================================
*/

$font-stack: 'Poppins', sans-serif;
$color:#E90081;

h2{
	font-family:$font-stack;
}


/* 1 NAV ================================= */


.navcontainer{
	display:flex;
    justify-content: space-between;
    background-color:$color;
    background-image: url(../img/pplogo.png);
    background-repeat:no-repeat;
    background-size: 50px;
    background-position:97%;
    padding:10px;


	ul{
	margin:20px 0 20px;
	margin-right:40px;

	}

}

a{
	text-decoration:none;
	padding:20px;
	font-family:$font-stack;
	margin-top:30px;
	color:white;

	&:hover{
		color:#000;
		transition: 0.2s;
		// font-weight: bold; - why doesn't this work
	}


}

/* 1 Hero/HomePage ================================= */

.hero{

	height:800px; //why is this needed? 
	background-image:url(../img/headerBC.png);
	background-repeat:no-repeat;
	background-size:cover; //why isn't this working?
	background-position:20%;
	background-attachment:fixed;

	}


.petition{
	// display:flex;
	background-color:#fff;
	height:400px;
	flex-direction:column;

	h2{
	
		font-size: 5em;
		padding:10px;
		text-align:center;
		color:black;
		font-weight: bold;
		padding-top: 30px;

	}

	p{
		font-family: 'Open sans', sans-serif;
		font-size: 1.4em;
		line-height: 30px;
		color:$color;
		width: 40%;
		padding-left:141px;
		padding-top:50px;
		float:left;

	}
}

	.sign{
		width:25%;
		border:1px solid black;
		border-radius:inherit;
		padding:20px;
		color:black;
		margin-top: 92px;
		margin-left: 100px; 



		a{
			color:$color;
			font-family: 'Open sans', sans-serif;
			font-size: 2em;
			text-align:center;
			padding-top:2px;
		}


	}



.trump{
	background-image:url(../img/trumpapp.jpg);
	background-size:cover;
	background-repeat: no-repeat;
	width:100%;
	height:500px; 
	background-color:$color;
	background-blend-mode:darken;
	display:flex;

	h2{

	font-family: "Poppins", sans-serif;
    font-size: 2.3em;
    width: 55%;
    padding-top: 134px;
    padding-left: 50px;
    color:white;
    line-height: 45px;
	}

	button{  //transparent button background
		border:1px solid black; //white outline on transparent background
		border-radius:inherit;
		padding:20px;
		color:black;
		align-self:center;
		margin-bottom: 20px;
		font-family: $font-stack;
		color:$color;


	}
	
}

.impact{
	background-image:url(../img/fam.jpg);
	background-repeat:no-repeat;
	background-size:cover;
	background-position:80%;
	height:400px;
	background-attachment:fixed;




	h2{
		font-family: "Poppins", sans-serif;
		font-size: 2.3em;
		color:black;
	}
}



footer{
	background-color:#0D1936;
	width:100%;
	height:100px;


	a{
		color:white;
		display: inline-block;
		
		&:hover{
			color:#ddd;
		}
	}

}


.atrisk{
	background-color:#F4F3F4;
	height:500px;

	h2{
		

	}
}




/* 2. Content ================================= */

