/* 
==============================================
CONTENT:	Foundation Site/ Final WEBDEV3
AUTHOR:		Lizz Lanius
==============================================

TABLE OF CONTENTS:

1. Nav
2. Hero/Homepage
3. Storie Page

==============================================
*/
h2 {
  font-family: "Poppins", sans-serif; }

a {
  font-family: "Poppins", sans-serif;
  text-decoration: none; }

p {
  line-height: 1.4;
  font-family: 'Open Sans', sans-serif; }

/* 1 NAV ================================= */
.navcontainer {
  display: flex;
  justify-content: space-between;
  background-color: #E90081;
  background-image: url(../img/pplogo.png);
  background-repeat: no-repeat;
  background-size: 50px;
  background-position: 97%;
  padding: 10px; }
  .navcontainer ul {
    margin: 20px 0 20px;
    margin-right: 40px; }
  .navcontainer a {
    text-decoration: none;
    padding: 20px;
    font-family: "Poppins", sans-serif;
    margin-top: 30px;
    color: white; }
    .navcontainer a:hover {
      color: #000;
      transition: 0.2s; }

/* 2 Hero/HomePage ================================= */
.hero {
  height: 800px;
  background-image: url(../img/headerBC.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 20%;
  background-attachment: fixed; }

.petition {
  background-color: #fff;
  height: 400px;
  width: 100%;
  margin: 40px;
  display: flex;
  flex-wrap: wrap; }
  .petition h2 {
    font-size: 5em;
    text-align: center;
    color: black;
    font-weight: bold;
    width: 100%; }
  .petition p {
    font-size: 1.4em;
    color: #E90081;
    width: 40%;
    margin-right: 230px;
    margin-left: 130px; }

button {
  width: 25%;
  border: 2px solid black;
  border-radius: inherit;
  color: black;
  height: 75px;
  margin-top: 20px; }
  button a {
    color: #E90081;
    font-size: 2em;
    text-align: center;
    padding-top: 2px;
    text-decoration: none; }

.trump {
  background-image: url(../img/trumpapp.jpg);
  background-size: cover;
  background-position: 20%;
  background-repeat: no-repeat;
  width: 100%;
  background-color: #E90081;
  background-blend-mode: darken;
  padding: 134px 50px; }
  .trump h2 {
    font-size: 2.3em;
    width: 55%;
    color: white;
    line-height: 45px;
    margin-bottom: 40px; }
  .trump a {
    background-color: transparent;
    height: 20px;
    width: 100px;
    padding: 20px;
    padding-left: 31px;
    border: 2px solid white;
    color: white;
    display: block;
    margin: 0 auto; }

.impact {
  position: relative; }
  .impact video {
    width: 100%;
    position: relative; }
  .impact h2 {
    font-size: 5em;
    width: 80%;
    color: white;
    line-height: 1.2;
    position: absolute;
    top: 10%;
    padding: 30px; }
  .impact p {
    color: white;
    position: absolute;
    top: 40%;
    width: 50%;
    padding: 40px;
    font-size: 1.5em; }
  .impact a {
    position: absolute;
    background-color: transparent;
    height: 20px;
    width: 100px;
    padding: 20px;
    padding-left: 31px;
    border: 2px solid #E90081;
    color: #E90081;
    top: 70%;
    left: 80%; }

.atrisk {
  width: 100%;
  padding: 50px; }
  .atrisk h2 {
    color: black;
    font-size: 2.3em;
    width: 45%;
    margin-bottom: 20px; }
  .atrisk p {
    color: #E90081;
    font-size: 1em;
    width: 25%; }

.info-container {
  display: flex;
  width: 100%;
  height: 350px;
  justify-content: space-around; }

.info {
  border: 2px solid #E90081;
  width: 20%;
  max-height: 85px;
  overflow: hidden; }
  .info:hover {
    color: black;
    max-height: 300px;
    overflow: visible; }
  .info h2 {
    color: #E90081;
    font-size: 1.2em;
    padding: 20px; }
  .info p {
    color: black;
    padding: 20px; }

/* 3. Stories Page ================================= */
.hero2 h2 {
  font-size: 2.3em;
  width: 50%;
  padding: 30px; }

.hero2 p {
  font-size: 1.2em;
  width: 50%;
  margin-left: 30px;
  margin-bottom: 30px; }

.hero2img {
  background-image: url(../img/ppprotest.jpg);
  height: 600px;
  width: 100%;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat; }

/*# sourceMappingURL=main.css.map */
