/* 
==============================================
CONTENT:	Foundation Site/ Final WEBDEV3
AUTHOR:		Lizz Lanius
==============================================

TABLE OF CONTENTS:

1. Nav
2. Hero/Homepage
3. Storie Page

==============================================
*/
h2 {
  font-family: "Poppins", sans-serif; }

a {
  font-family: "Poppins", sans-serif; }

/* 1 NAV ================================= */
.navcontainer {
  display: flex;
  justify-content: space-between;
  background-color: #E90081;
  background-image: url(../img/pplogo.png);
  background-repeat: no-repeat;
  background-size: 50px;
  background-position: 97%;
  padding: 10px; }
  .navcontainer ul {
    margin: 20px 0 20px;
    margin-right: 40px; }
  .navcontainer a {
    text-decoration: none;
    padding: 20px;
    font-family: "Poppins", sans-serif;
    margin-top: 30px;
    color: white; }
    .navcontainer a:hover {
      color: #000;
      transition: 0.2s; }

/* 2 Hero/HomePage ================================= */
.hero {
  height: 800px;
  background-image: url(../img/headerBC.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 20%;
  background-attachment: fixed; }

.petition {
  background-color: #fff;
  height: 400px;
  flex-direction: column; }
  .petition h2 {
    font-size: 5em;
    padding: 10px;
    text-align: center;
    color: black;
    font-weight: bold;
    padding-top: 30px; }
  .petition p {
    font-family: 'Open sans', sans-serif;
    font-size: 1.4em;
    line-height: 30px;
    color: #E90081;
    width: 40%;
    padding-left: 141px;
    padding-top: 50px;
    float: left; }

button {
  width: 25%;
  border: 1px solid black;
  border-radius: inherit;
  padding: 20px;
  color: black;
  margin-top: 92px;
  margin-left: 100px;
  height: 75px; }
  button a {
    color: #E90081;
    font-size: 2em;
    text-align: center;
    padding-top: 2px;
    text-decoration: none; }

.trump {
  background-image: url(../img/trumpapp.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  background-color: #E90081;
  background-blend-mode: darken;
  padding: 134px 50px; }
  .trump h2 {
    font-size: 2.3em;
    width: 55%;
    color: white;
    line-height: 45px; }
  .trump a {
    background-color: transparent;
    height: 20px;
    width: 100px;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    padding: 20px;
    border: 1px solid white;
    color: white;
    display: block;
    margin: 100px auto 0; }

.impact {
  background-image: url(../img/fam.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 80%;
  height: 400px;
  background-attachment: fixed; }
  .impact h2 {
    font-size: 2.3em;
    width: 45%;
    padding-top: 134px;
    padding-left: 50px;
    color: white;
    line-height: 45px; }

.atrisk {
  background-color: #F4F3F4;
  height: 500px; }
  .atrisk h2 {
    color: black;
    font-size: 2.3em;
    padding-left: 50px;
    padding-top: 50px; }
  .atrisk p {
    font-family: "Poppins", sans-serif;
    color: #E90081;
    font-size: 1em;
    padding-left: 50px;
    padding-top: 20px;
    width: 45%;
    line-height: 1.4; }

/* 3. Stories Page ================================= */
.hero2 h2 {
  font-size: 2.3em;
  width: 50%;
  padding: 30px; }

.hero2 p {
  font-size: 1.2em;
  width: 50%;
  margin-left: 30px;
  margin-bottom: 30px; }

.hero2img {
  background-image: url(../img/ppprotest.jpg);
  height: 600px;
  width: 100%;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat; }

/*# sourceMappingURL=main.css.map */
